<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="app-title">Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="flex-column justify-space-around">

    <nav class="navbar nav-item hero">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
      <a id="logout" class="">Logout</a>
      {{else}}
      <a href="/login"> Login</a>
      <a href="/signup"> Sign Up</a>
      {{/if}}

      <header class="display-flex justify-space-between align-center p-2 white ">
        <h1> The Tech Blog </h1>
      </header>

    </nav>


    <main class="container container-fluid mt-5">
      <aside>
        <h2>Welcome</h2>
      </aside>
      <div >
        {{{body}}}
      </div>
    </main>



  </div>
    
  <footer class="flex-row justify-center">
    The Tech Blog Folks
  </footer>
  
  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>