<!-- Loop over each object in the posts array -->

{{#if Post.length}}
<div class="col-md-6 post-list">
  <h3>Current posts:</h3>
  {{#each posts as |post|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      <p>{{format_date date_created}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

