<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Sign Up</h2>

    <form class="form signup-form" id="signup-form">
      <div>
        <label for="username">Username:</label>
        <input class="form-input" type="text" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-input" type="password" id="password" name="password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>   
</div> 

<script src='/js/signup.js'>  </script>